header{
    background-color: #0a1f44;
    color: white;
   padding: 15px 50px;
   display: flex;
    align-items: center;
}
header h1{
    font-size: 30px;
    flex: 2;
    text-align: start;
}
nav a{
    margin-left: 20px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.hero{
    position: relative;
    width: 100%;
}
.hero img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(81, 81, 184);
    color: white ;
    font-weight: bold;
    box-shadow: 3px 3px 5px white;
}
.text h1 {
    font-size: 60px;
    color: white;
    text-shadow:3px 0 5px  black;
}
.text p{
    font-size: 30px;
    padding: 0 10px 15px 10px;
    color:white;
    text-shadow: 3px 0 5px black;
}
.text a{
    border-radius: 5px;
}
.tour-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    
}
.tours{
    text-align: center;
}
.tours h2{
    padding-top: 20px;
    padding-bottom: 20px ;
    text-align: center;
    font-size: 40px;
    color: rgb(1, 1, 43);
    text-shadow: 1px 1px 2px  red;
}

.box1{
    width: 300px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(1, 87, 88);
    transition: 0.3s ease;
}
.box1:hover{
    transform: translateY(-10px);

}
.box1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    
}
footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 25px;
    background: #5e4141;
    color: white;
    
}
.box1 p{
    padding: 0 10px 15px 10px ;
    font-size: 20px;
}
.box1 span{
    display: block;
    color: rgb(250, 164, 5);
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;

}





